.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 50px;
    border-bottom: 1px solid #1e1e1e;
}

.navbar img {
    width: 100%;
    min-width: 100px;
    max-width: 180px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.nav-links a {
    color: #1e1e1e;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 10px 24px;
    font-weight: 600;
    border-radius: 20px;
    transition: all 0.2s;
}

.nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-button {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #000;
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.nav-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    background-color: #1e1e1e;
}